In [0]:
import sys
import time
import random
import numpy as np
from copy import deepcopy
import pandas as pd
import matplotlib.pyplot as plt
import heapq
from itertools import combinations

## Clase individuo

In [0]:
class Individual(object):   
   
    def __init__(self, chromosome, size):
            self.chromosome = chromosome[:]
            self.allele_pool = allele_pool
            self.fitness = -1  # -1 indica que el individuo no ha sido evaluado
            self.fitness_sep = [-1,-1,-1,-1]
            
    def crossover_onepoint(self, other):
        "Retorna dos nuevos individuos del cruzamiento de un punto entre individuos self y other "
        c = random.randrange(len(self.chromosome))
        #print(set(self.chromosome[:c]) & set(other.chromosome[c:]))
        if len((set(self.chromosome[:c]) & set(other.chromosome[c:])))==0:
          ind1 = Individual(self.chromosome[:c] + other.chromosome[c:], allele_pool)
          ind2 = Individual(other.chromosome[:c] + self.chromosome[c:], allele_pool)
          return [ind1, ind2]
        else:
          return [self, other]   
    
    
    def crossover_uniform(self, other):
        chromosome1 = []
        chromosome2 = []
        "Retorna dos nuevos individuos del cruzamiento uniforme entre self y other "
        for i in range(len(self.chromosome)):
            if random.uniform(0, 1) < 0.5:
                chromosome1.append(self.chromosome[i])
                chromosome2.append(other.chromosome[i])
            else:
                chromosome1.append(other.chromosome[i])
                chromosome2.append(self.chromosome[i])
        ind1 = Individual(chromosome1, allele_pool)
        ind2 = Individual(chromosome2, allele_pool)
        return [ind1, ind2] 

    def mutate_position(self): 
        """       Bit flip
        Cambia aleatoriamente un alelo de un gen."""
        mutated_chromosome = deepcopy(self.chromosome)
        mutGene = random.randrange(0,len(mutated_chromosome)) 
        newAllele = allele_pool[random.randrange(0,len(allele_pool))]
        mutated_chromosome[mutGene] = newAllele
        return Individual(mutated_chromosome, allele_pool)
        
    def mutate_swap(self):
        "Escoge dos genes e intercambia sus alelos"
        mutated_chromosome = deepcopy(self.chromosome)
        mutGen1 = random.randrange(0,len(mutated_chromosome))
        mutGen2 = random.randrange(0,len(mutated_chromosome))
        
        temp = allele_pool[mutGen1]
        if temp not in mutated_chromosome:
          #mutated_chromosome[mutGen1] = mutated_chromosome[mutGen2]
          mutated_chromosome[mutGen2] = temp
        
        return Individual(mutated_chromosome, allele_pool)

## Inicia una poblacion tipo Binario

In [0]:
def init_population(pop_number, chromosome_size, allele_pool):    
    num_alleles = len(allele_pool)
    population = []
    for i in range(pop_number):
        new_chromosome = [allele_pool[random.randrange(0, num_alleles)] for j in range(chromosome_size)]
        population.append(Individual(new_chromosome, allele_pool) )
    return population

 Convierte un Nro binario a un número natural:  
 El Nro binario es una lista de 0's y 1's

In [0]:
def binario_a_decimal(x):
    return int(str(''.join(map(str,x))))#, 2

Funcion de aptitud para evaluar el fitness de un Cromosoma (x^2)

In [0]:
def fun_fitness_cuad(cromosoma):
    """Función que eleva al cuadrado el número recibido en binario"""
    n = 0
    for c in cromosoma:
      n +=  pob_pool[c]

    comb = combinations(cromosoma, 2) 
    dist_x = 0
    dist_y = 0
    for com in comb:
      dist_x += abs(x_pool[com[0]] - x_pool[com[1]])
      dist_y += abs(y_pool[com[0]] - y_pool[com[1]])
    
    total = dist_x + dist_y + n

    return total

In [0]:
def fun_fitness_cuad_sep(cromosoma):
    """Función que eleva al cuadrado el número recibido en binario"""
    n = 0
    for c in cromosoma:
      n +=  pob_pool[c]

    comb = combinations(cromosoma, 2) 
    dist_x = 0
    dist_y = 0
    for com in comb:
      dist_x += abs(x_pool[com[0]] - x_pool[com[1]])
      dist_y += abs(y_pool[com[0]] - y_pool[com[1]])
    
    total = dist_x + dist_y + n

    return [total,dist_x, dist_y,n]

Funcion para evaluar toda una población de individuos con la funcion de fitnes especificada

In [0]:
def evaluate_population(population,fitness_fn): 
    """Retorna el fitness de un cromosoma como el cuadrado del numero recibido en binario"""
   
    for i in range(len(population)):
        if population[i].fitness == -1:    # evalua solo si el individuo no esta evaluado
            population[i].fitness = fitness_fn(population[i].chromosome)
            population[i].fitness_sep = fun_fitness_cuad_sep(population[i].chromosome)
    return population

In [0]:
def display(population):
    listaAG=[]
    for i in range(len(population)):
      listaAG.append([population[i].chromosome,population[i].fitness,population[i].fitness_sep[1],population[i].fitness_sep[2],population[i].fitness_sep[3]])

    data=pd.DataFrame(listaAG)
    data.columns = ['Poblacion','fitness acumulado', 'Distancias X', 'Distancias Y', 'Población Acumulada']
    return data

## Selecciona los padres mediante operadores: Ruleta/ Torneo

###  Ruleta

In [0]:
def select_parents_roulette(population):
    popsize = len(population)
    
    # Escoje el primer padre
    sumfitness = sum([indiv.fitness for indiv in population])  # suma total del fitness de la poblacion
    pickfitness = random.uniform(0, sumfitness)   # escoge un numero aleatorio entre 0 y sumfitness
    cumfitness = 0     # fitness acumulado
    for i in range(popsize):
        cumfitness += population[i].fitness
        if cumfitness > pickfitness: 
            iParent1 = i
            break
     
    # Escoje el segundo padre, desconsiderando el primer padre
    sumfitness = sumfitness - population[iParent1].fitness # retira el fitness del padre ya escogido
    pickfitness = random.uniform(0, sumfitness)   # escoge un numero aleatorio entre 0 y sumfitness
    cumfitness = 0     # fitness acumulado
    for i in range(popsize):
        if i == iParent1: continue   # si es el primer padre 
        cumfitness += population[i].fitness
        if cumfitness > pickfitness: 
            iParent2 = i
            break        
    return (population[iParent1], population[iParent2])

### Torneo

In [0]:
def select_parent_torneo(population,size_torneo):
    
    # Escoje el primer padre
    list_indiv=[]
    x1 = np.random.permutation(len(population) )
    y1= x1[0:size_torneo]
    for i in range(size_torneo):
        list_indiv.append(population[y1[i]].fitness)
    
    iParent1=np.argmax(list_indiv)
    
    # Escoje el segundo padre, desconsiderando el primer padre   
    x2 = np.delete(x1, iParent1)
    x2 = np.random.permutation(x2)
    list_indiv=[]
    y2= x2[0:size_torneo]
    for i in range(size_torneo):
        list_indiv.append(population[y2[i]].fitness)
    iParent2=np.argmax(list_indiv)
    
    return (population[x1[iParent1]],population[x2[iParent2]])

## Iniciando una poblacion

### Variables

In [0]:
x_pool = [-12.04861,-12.05956,-12.06524,-12.05998,-12.05541,-12.05417,-12.05349,-12.05268,-12.05278,-12.05301,-12.04937,-12.05465,-12.05486,-12.05059,-12.04253,-12.04817,-12.04668,-12.05606,-12.07258,-12.07414,-12.06771,-12.06921,-12.07396,-12.075,-12.09086,-12.09375,-12.09602,-12.02669,-12.0282,-12.03267,-12.03828,-12.03982,-12.04117,-12.0417,-12.04155,-12.03882,-12.03959,-12.03548,-12.03766,-12.03984,-12.04233,-12.04328,-12.04486,-12.04566,-12.03895,-12.12916,-12.13156,-12.13222,-12.1265,-12.1261,-12.12603,-12.12587,-12.12248,-12.12326,-12.12028,-12.1201,-12.12532,-12.12116,-12.12159,-12.11685]
y_pool = [-77.06496,-77.07583,-77.07334,-77.063,-77.07497,-77.07472,-77.07362,-77.07409,-77.07104,-77.07735,-77.07948,-77.06952,-77.07655,-77.07666,-77.09595,-77.05867,-77.0726,-77.06726,-77.06884,-77.0629,-77.06214,-77.0593,-77.051,-77.04631,-77.05947,-77.06947,-77.07398,-76.88958,-76.8912,-76.91418,-76.9157,-76.91897,-76.9186,-76.9221,-76.9213,-76.9238,-76.92422,-76.92502,-76.92863,-76.92827,-76.92739,-76.92851,-76.92715,-76.91841,-76.92025,-77.02984,-77.02371,-77.02358,-77.02697,-77.02889,-77.03129,-77.03583,-77.03332,-77.03639,-77.03866,-77.0343,-77.03135,-77.02889,-77.03092,-77.02991]
pob_pool = [16500,18000,17000,15000,17100,17350,17300,17400,17350,17400,16900,17200,17300,17500,18500,17100,16400,15950,16800,16950,14500,16400,17300,17000,14900,13900,11500,2900,2500,2000,3800,8500,7500,6000,6000,8600,8500,9200,9900,9900,9200,8700,7900,4000,8600,16000,15800,15600,18400,18800,18300,14500,17900,16950,17600,19000,18600,18000,18500,20000]

### Codigo

In [325]:
num_individuals = 100
ind_size        = 10


allele_pool = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]

population = init_population(num_individuals,ind_size, allele_pool)

display(population) #Imprime la primera poblacion

                                   Poblacion  ...  Población Acumulada
0   [56, 34, 53, 39, 53, 33, 13, 53, 32, 25]  ...                   -1
1     [8, 10, 12, 5, 32, 32, 34, 45, 20, 22]  ...                   -1
2    [29, 38, 34, 38, 39, 49, 43, 28, 43, 8]  ...                   -1
3    [31, 59, 16, 13, 59, 9, 17, 45, 32, 49]  ...                   -1
4    [52, 53, 8, 53, 29, 25, 18, 18, 51, 51]  ...                   -1
..                                       ...  ...                  ...
95    [27, 21, 2, 23, 28, 39, 3, 45, 18, 35]  ...                   -1
96     [38, 29, 54, 49, 51, 42, 15, 8, 4, 7]  ...                   -1
97    [47, 23, 41, 5, 31, 17, 45, 6, 34, 21]  ...                   -1
98    [39, 44, 24, 18, 20, 14, 44, 41, 9, 1]  ...                   -1
99    [54, 29, 5, 26, 44, 10, 57, 9, 49, 43]  ...                   -1

[100 rows x 5 columns]

## Evaluacion de la primera poblacion

In [326]:
fitness_fn=fun_fitness_cuad
## Evalua una poblacion
population=evaluate_population(population,fitness_fn)  # evalua la poblacion inicial
display(population)

                                   Poblacion  ...  Población Acumulada
0   [56, 34, 53, 39, 53, 33, 13, 53, 32, 25]  ...               130250
1     [8, 10, 12, 5, 32, 32, 34, 45, 20, 22]  ...               137700
2    [29, 38, 34, 38, 39, 49, 43, 28, 43, 8]  ...                84350
3    [31, 59, 16, 13, 59, 9, 17, 45, 32, 49]  ...               158050
4    [52, 53, 8, 53, 29, 25, 18, 18, 51, 51]  ...               147650
..                                       ...  ...                  ...
95    [27, 21, 2, 23, 28, 39, 3, 45, 18, 35]  ...               122100
96     [38, 29, 54, 49, 51, 42, 15, 8, 4, 7]  ...               139650
97    [47, 23, 41, 5, 31, 17, 45, 6, 34, 21]  ...               138800
98    [39, 44, 24, 18, 20, 14, 44, 41, 9, 1]  ...               135900
99    [54, 29, 5, 26, 44, 10, 57, 9, 49, 43]  ...               132150

[100 rows x 5 columns]

 ## Probando los Operadores

- Llamando a torneo

In [327]:
size_torneo = 3

winner1,winner2=select_parent_torneo(population,size_torneo)
print(winner1.chromosome,winner1.fitness)
print(winner2.chromosome,winner2.fitness)

[11, 47, 38, 8, 34, 2, 54, 5, 50, 25] 150204.68578
[17, 23, 45, 18, 16, 3, 10, 24, 28, 10] 148353.62542

- Llamando a ruleta

In [328]:
winner1,winner2=select_parents_roulette(population)
print(winner1.chromosome,winner1.fitness)
print(winner2.chromosome,winner2.fitness)

[39, 1, 19, 16, 37, 4, 24, 46, 6, 3] 150554.05601
[10, 18, 56, 19, 47, 40, 42, 20, 34, 16] 138854.93717

## Probando Cruzamiento

In [0]:
popsize = len(population)
## Selecciona las parejas de padres para cruzamiento 
mating_pool = []
for i in range(int(popsize/2)): mating_pool.append(select_parents_roulette(population))

In [0]:
# Crea la poblacion descendencia cruzando las parejas del mating pool con Recombinación de 1 punto
offspring_population = []
for i in range(len(mating_pool)): 
    offspring_population.extend( mating_pool[i][0].crossover_onepoint(mating_pool[i][1]) )
    #offspring_population.extend( mating_pool[i][0].crossover_uniform(mating_pool[i][1]) )

In [331]:
display(offspring_population)

                                   Poblacion  ...  Población Acumulada
0    [55, 37, 20, 32, 54, 45, 42, 15, 47, 9]  ...                   -1
1    [58, 50, 18, 32, 10, 54, 13, 15, 32, 4]  ...                   -1
2   [24, 47, 13, 58, 58, 57, 44, 28, 49, 24]  ...               147800
3     [14, 42, 2, 40, 33, 47, 4, 50, 17, 42]  ...               133450
4    [14, 49, 44, 15, 4, 54, 26, 10, 42, 25]  ...                   -1
..                                       ...  ...                  ...
95   [55, 37, 30, 44, 16, 12, 23, 23, 36, 7]  ...                   -1
96  [23, 55, 51, 20, 15, 15, 58, 29, 18, 44]  ...                   -1
97     [50, 49, 32, 4, 27, 7, 42, 3, 26, 38]  ...                   -1
98   [55, 37, 20, 32, 54, 45, 42, 15, 47, 9]  ...               141800
99     [16, 25, 36, 45, 7, 21, 0, 6, 15, 44]  ...               148100

[100 rows x 5 columns]

## Probando Mutacion

In [0]:
pmut=0.8
## Aplica el operador de mutacion con probabilidad pmut en cada hijo generado
for i in range(len(offspring_population)):
    if random.uniform(0, 1) < pmut: 
        offspring_population[i] = offspring_population[i].mutate_swap()
       #offspring_population[i] = offspring_population[i].mutate_position()

In [333]:
display(offspring_population)

                                  Poblacion  ...  Población Acumulada
0    [55, 37, 5, 32, 54, 45, 42, 15, 47, 9]  ...                   -1
1    [58, 50, 18, 5, 10, 54, 13, 15, 32, 4]  ...                   -1
2   [24, 47, 13, 58, 3, 57, 44, 28, 49, 24]  ...                   -1
3    [14, 42, 2, 40, 33, 47, 4, 50, 17, 42]  ...               133450
4    [14, 49, 44, 15, 4, 54, 26, 10, 1, 25]  ...                   -1
..                                      ...  ...                  ...
95  [55, 37, 30, 44, 16, 12, 23, 23, 36, 7]  ...                   -1
96  [23, 55, 51, 20, 7, 15, 58, 29, 18, 44]  ...                   -1
97    [50, 49, 32, 4, 27, 7, 42, 3, 26, 38]  ...                   -1
98   [55, 37, 20, 32, 54, 45, 42, 8, 47, 9]  ...                   -1
99    [16, 25, 36, 45, 7, 21, 4, 6, 15, 44]  ...                   -1

[100 rows x 5 columns]

## Evalua la nueva poblacion despues de pasar por los operadores de reproduccion

In [334]:
fitness_fn=fun_fitness_cuad
## Evalua la nueva poblacion
population2=evaluate_population(offspring_population,fitness_fn)  # evalua la poblacion inicial
display(population2)

                                  Poblacion  ...  Población Acumulada
0    [55, 37, 5, 32, 54, 45, 42, 15, 47, 9]  ...               144650
1    [58, 50, 18, 5, 10, 54, 13, 15, 32, 4]  ...               164650
2   [24, 47, 13, 58, 3, 57, 44, 28, 49, 24]  ...               144300
3    [14, 42, 2, 40, 33, 47, 4, 50, 17, 42]  ...               133450
4    [14, 49, 44, 15, 4, 54, 26, 10, 1, 25]  ...               158000
..                                      ...  ...                  ...
95  [55, 37, 30, 44, 16, 12, 23, 23, 36, 7]  ...               134200
96  [23, 55, 51, 20, 7, 15, 58, 29, 18, 44]  ...               145400
97    [50, 49, 32, 4, 27, 7, 42, 3, 26, 38]  ...               126300
98   [55, 37, 20, 32, 54, 45, 42, 8, 47, 9]  ...               142050
99    [16, 25, 36, 45, 7, 21, 4, 6, 15, 44]  ...               148700

[100 rows x 5 columns]

## Juntando todo

In [335]:
print('Ejecución\tIndividuo\tIteración\tFitness\tSuma de distancias X\tSuma de distancias Y\tSuma de población')
for ejecucion in range(0,10):
  population_iter = []
  population_best = []
  best_fitness = 0
  best_a = 0
  random.seed()
  population = init_population(num_individuals,ind_size, allele_pool)
  for a in range(0,500):
    offspring_population = []
    for i in range(len(mating_pool)): 
      offspring_population.extend( mating_pool[i][0].crossover_onepoint(mating_pool[i][1]))
    for i in range(len(offspring_population)):
      if random.uniform(0, 1) < pmut: 
          offspring_population[i] = offspring_population[i].mutate_swap()
    population_iter=evaluate_population(offspring_population,fitness_fn)

  #Torneo
  size_torneo = 3
  winner1,winner2=select_parent_torneo(population_iter,size_torneo)
  print(ejecucion + 1, winner1.chromosome, '-',winner1.fitness,winner1.fitness_sep[1],winner1.fitness_sep[2],winner1.fitness_sep[3], sep='\t' )

Ejecución	Individuo	Iteración	Fitness	Suma de distancias X	Suma de distancias Y	Suma de población
1	[47, 7, 22, 42, 0, 51, 23, 58, 52, 4]	-	159703.79331	1.8756400000000006	1.917670000000001	159700
2	[58, 59, 48, 25, 1, 22, 46, 10, 34, 58]	-	163303.89037	1.826139999999997	2.0642299999999807	163300
3	[24, 53, 53, 50, 1, 41, 4, 2, 50, 22]	-	163503.67429	1.7485500000000123	1.9257399999999478	163500
4	[28, 7, 22, 42, 0, 51, 23, 58, 52, 4]	-	146604.78901	1.872779999999997	2.9162299999999846	146600
5	[58, 37, 20, 32, 54, 45, 42, 15, 47, 5]	-	141255.16895	2.100110000000008	3.068840000000023	141250
6	[21, 8, 13, 48, 16, 19, 2, 10, 3, 58]	-	170402.29633	1.396219999999996	0.900110000000069	170400
7	[1, 48, 51, 59, 37, 53, 3, 18, 20, 24]	-	158253.68329	1.7654500000000137	1.917839999999856	158250
8	[19, 29, 53, 1, 22, 57, 43, 47, 3, 59]	-	143804.65433	1.9179400000000104	2.7363900000000143	143800
9	[12, 59, 34, 51, 22, 9, 47, 56, 50, 10]	-	161904.06804	1.9712200000000006	2.096820000000008	161900
10	[20, 36, 15, 10, 29, 25, 18, 18, 51, 51]	-	135504.51716	1.7451600000000127	2.7719999999998635	135500

In [336]:
print('Ejecución\tIndividuo\tIteración\tFitness\tSuma de distancias X\tSuma de distancias Y\tSuma de población')
for ejecucion in range(0,10):
  population_iter = []
  population_best = []
  best_fitness = 0
  best_a = 0
  random.seed()
  population = init_population(num_individuals,ind_size, allele_pool)
  for a in range(0,500):
    offspring_population = []
    for i in range(len(mating_pool)): 
      offspring_population.extend( mating_pool[i][0].crossover_onepoint(mating_pool[i][1]))
    for i in range(len(offspring_population)):
      if random.uniform(0, 1) < pmut: 
          offspring_population[i] = offspring_population[i].mutate_swap()
    population_iter=evaluate_population(offspring_population,fitness_fn)
    max_fitness = max(map(lambda x: x.fitness, population_iter))
    i = 0
    for pop in population_iter:
      if pop.fitness == max_fitness:
        break
      else:
        i += 1
    if population_iter[i].fitness > best_fitness:
      best_fitness = population_iter[i].fitness
      population_best = population_iter[i]
      best_a = a
  population_best.chromosome.sort()
  print(ejecucion + 1,population_best.chromosome,best_a+1,population_best.fitness,population_best.fitness_sep[1],population_best.fitness_sep[2],population_best.fitness_sep[3], sep='\t' )

Ejecución	Individuo	Iteración	Fitness	Suma de distancias X	Suma de distancias Y	Suma de población
1	[1, 2, 10, 16, 19, 48, 48, 58, 58, 59]	492	179052.96898	1.7802000000000007	1.1887799999999231	179050
2	[1, 9, 13, 16, 17, 45, 49, 58, 59, 59]	26	178553.01134	1.8534499999999916	1.1578899999999663	178550
3	[1, 9, 13, 16, 17, 45, 49, 58, 59, 59]	93	178553.01134	1.8534499999999916	1.1578899999999663	178550
4	[1, 2, 10, 16, 19, 48, 48, 58, 58, 59]	454	179052.96898	1.7802000000000007	1.1887799999999231	179050
5	[1, 2, 10, 16, 19, 48, 48, 58, 58, 59]	245	179052.96898	1.7802000000000007	1.1887799999999231	179050
6	[1, 9, 13, 16, 17, 45, 49, 58, 59, 59]	252	178553.01134	1.8534499999999916	1.1578899999999663	178550
7	[2, 9, 10, 16, 19, 48, 48, 58, 58, 59]	302	178453.01237	1.8129499999999954	1.1994199999999182	178450
8	[2, 7, 10, 16, 19, 48, 48, 58, 58, 59]	309	178452.9912	1.814599999999995	1.1765999999999366	178450
9	[1, 9, 13, 16, 17, 45, 49, 58, 59, 59]	460	178553.01134	1.8534499999999916	1.1578899999999663	178550
10	[2, 9, 10, 16, 19, 48, 48, 58, 58, 59]	274	178453.01237	1.8129499999999954	1.1994199999999182	178450